{% extends "main.html" %}

{% block title %}students{% endblock %}
{% block content %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<table>
  <tr>
    <th>Uczeń</th>
    <th>Grupa</th>
    <th></th>
  </tr>
{% for student in students %} 
  <tr>
    <td><a href="/student_details/{{ student.id }}">{{ student.name }}</a></td>
    <td>{% for group in student.groups.all %} {{group}} {% endfor %}</td>
    <td><a href="/student_edit/{{ student.id }}">edytuj</a></td>
  </tr>
{% endfor %}
</table>
{% endblock %}